@mixin card_dark {
  .card { border: 1px solid $alt-bg-color-dark;
    background-color: $bg-color-dark;
 }

  .card-image {
    filter: grayscale($filter-percentage);
  }

  .card-body {
    border-top: 1px solid $alt-bg-color-dark !important;
    border-bottom: 1px solid $alt-bg-color-dark !important;
    background-color: $bg-color-dark;
  }

  .card-tags,
  .card-footer { background-color: $bg-color-dark; }
}

body.colorscheme-dark {
  @include card_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include card_dark()
  }
}
